.ion-page{
    background-color: rgb(255, 255, 255);

    pdf-viewer {
        display: block;
        height: 100vh;
    }

    ion-buttons{
        font-size: large;
        position: absolute;
        color: transparent;
        ion-icon{
            color: gray;
        }
    }
}

