  <!-- <ion-header color="primary">
    <ion-title>CovAttest {{version}}</ion-title>
  </ion-header> -->
<ion-content class="ion-align-items-stretch ">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="launchAttestation(1)">n° 1 Travail</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(2)">n° 2 Santée </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(3)">n° 3 Famille</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(4)">n° 4 Handicap</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(5)">n° 5 Convocation</ion-button>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(6)">n° 6 Mission</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(7)">n° 7 Transit</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(8)">n° 8 Animaux 1h</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(9)" >n° 9 Courses 6h-19h</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(10)" >n° 10 Sport 6h-19h</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(11)" >n° 11 Rassemlement 6h-19h</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(12)" >n° 12 Démarches 6h-19h</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>