<ion-header color="primary">

</ion-header>

<ion-content class="ion-align-items-stretch ">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button Expand="block"  (click)="launchAttestation(1)">n°1 Travail</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(2)">n°2 Achats,Culture & Culte </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(3)">n°3 Consultation médicale</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(4)">n°4 Motif familiale</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(5)">n°5 Déplacements de personnes</ion-button>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(6)">n°6 Plein air & Annimaux 3h Max</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(7)">n°7 Convocations judiciaires</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(8)">n°8 Missions d'intérret Générales</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(9)" hidden>n°9 Activités périscolaires</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>