  <ion-header color="primary">
    <ion-title>CovAttest {{version}}</ion-title>
  </ion-header>
<ion-content class="ion-align-items-stretch ">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="launchAttestation(1)">n°1 Travail</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(2)">n°2 Santée </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(3)">n°3 Famille</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(4)">n°4 Handicap</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(5)">n°5 Convocation</ion-button>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(6)">n°6 Mission</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(7)">n°7 Transit</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(8)">n°8 Animaux 1h</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" fill="outline" (click)="launchAttestation(9)" hidden>n°9 Activités périscolaires</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>