.ion-page{
    background-color: rgb(222, 220, 220);

    ion-buttons{
        font-size: large;
        position: absolute;
        color: transparent;
        ion-icon{
            color: gray;
        }
    }

    pdf-viewer {
        display: block;
        height: 100vh;
    }
}

