ion-header {
    margin:15px 0px 15px 0 ;
    text-align: center;
    ion-title{
        color: rgb(135, 136, 136);
    }
}
ion-button{
    text-transform: capitalize;
    font-size: large;
    color: antiquewhite;

}