  <ion-header color="primary">
    <ion-title>Confinement 6-19</ion-title>
  </ion-header>
<ion-content class="ion-align-items-stretch ">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block"  (click)="launchAttestation(21)">n° 1 Travail</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(22)">n° 2 Santée </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(23)">n° 3 Famille</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(24)">n° 4 Handicap</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(25)">n° 5 Convocation</ion-button>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(26)">n° 6 Mission</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(27)">n° 7 Transit</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(28)">n° 8 Animaux 1h</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(29)" >n° 9 Courses</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(30)" >n° 10 Sport</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(31)" >n° 11 Rassemlement</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" (click)="launchAttestation(32)" >n° 12 Démarches</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>