<ion-header>
  <ion-toolbar >
    <ion-title color="primary">Réglages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form  [formGroup]="validations_form" (ngSubmit)="onSubmit()">
<!-- ---------------------------------- Personnel ------------------------------------------------------------------------------ -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="secondary">Votre identitée :</ion-card-subtitle>
        <!-- <ion-card-title>Card Title</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
    <ion-item>
      <ion-label position="floating">Prénom :</ion-label>
      <ion-input formControlName = "firstname" placeholder="Jean"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.firstname">
        <div class="error-message" *ngIf="validations_form.get('firstname').hasError(validation.type) && (validations_form.get('firstname').dirty || validations_form.get('firstname').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

      <ion-item>
        <ion-label position="floating">Nom :</ion-label>
        <ion-input formControlName = "lastname" placeholder="Martin"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.lastname">
          <div class="error-message" *ngIf="validations_form.get('lastname').hasError(validation.type) && (validations_form.get('lastname').dirty || validations_form.get('lastname').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Date de naissance :</ion-label>
        <ion-input formControlName = "dateOfBirth"  type="date" placeholder="2020-03-16"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.dateOfBirth">
          <div class="error-message" *ngIf="validations_form.get('dateOfBirth').hasError(validation.type) && (validations_form.get('dateOfBirth').dirty || validations_form.get('dateOfBirth').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Lieu de naissance :</ion-label>
        <ion-input formControlName = "cityofbird" placeholder="Paris"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.cityofbird">
          <div class="error-message" *ngIf="validations_form.get('cityofbird').hasError(validation.type) && (validations_form.get('cityofbird').dirty || validations_form.get('cityofbird').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-card-content>
    </ion-card>
<!-- ---------------------------------------Domicile------------------------------------------------------------------------- -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="secondary">Votre domicile :</ion-card-subtitle>
        <!-- <ion-card-title>Card Title</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
      <ion-item>
        <ion-label position="floating">Adresse :</ion-label>
        <ion-input formControlName = "adress" placeholder="55 Rue du Faubourg Saint-Honoré"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.adress">
          <div class="error-message" *ngIf="validations_form.get('adress').hasError(validation.type) && (validations_form.get('adress').dirty || validations_form.get('adress').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Code Postal :</ion-label>
        <ion-input maxlength="5" formControlName = "zipcode" type="number" placeholder="75008"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.zipcode">
          <div class="error-message" *ngIf="validations_form.get('zipcode').hasError(validation.type) && (validations_form.get('zipcode').dirty || validations_form.get('zipcode').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating">Ville :</ion-label>
        <ion-input formControlName = "city" placeholder="Paris"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.city">
          <div class="error-message" *ngIf="validations_form.get('city').hasError(validation.type) && (validations_form.get('city').dirty || validations_form.get('city').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-card-content>
  </ion-card>
<!-- ----------------------------------------Application------------------------------------------------------------------------ -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="secondary">Réglages de l'application :</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
      <ion-item>
        <ion-label >Décalage en minutes : </ion-label>
        <ion-input maxlength="2" formControlName = "timeback" type="number"  placeHolder="20"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.timeback">
          <div class="error-message" *ngIf="validations_form.get('timeback').hasError(validation.type) && (validations_form.get('timeback').dirty || validations_form.get('timeback').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
        <ion-list>
          <ion-radio-group  formControlName="screenmode" allow-empty-selection="false" value="{{screenmode}}" name="radio-group" (ionChange)="radioGroupChange($event)" #screenModeRadio>
            <ion-list-header>
              <ion-label>Mode d'affichage</ion-label>
            </ion-list-header>

            <ion-item (ionFocus)="radioFocus()" (ionSelect)="radioSelect($event)" (ionBlur)="radioBlur()">
              <ion-label>TousAntiPv <br>(recomandé, plus rapide,<br> pas besoin d'internet)</ion-label>
              <ion-radio slot="start" name="screenmode" [value]="1" checked="true" ></ion-radio>
            </ion-item>

            <ion-item (ionFocus)="radioFocus()" (ionSelect)="radioSelect($event)" (ionBlur)="radioBlur()">
              <ion-label>Pdf</ion-label>
              <ion-radio slot="start" name="screenmode" [value]="2"  checked="true" ></ion-radio>
            </ion-item>

          </ion-radio-group>
        </ion-list>
      </ion-card-content>
    </ion-card>

          <ion-grid>
            <ion-row>
              <ion-col class="ion-align-self-center" size-md>
                <ion-button  color="danger" type="reset" expand="block">Effacer</ion-button>
              </ion-col>
              <ion-col>
                <ion-button class="submit-btn" color="success" type="submit" expand="block" size-md [disabled]="!validations_form.valid">Enregistrer</ion-button>
              </ion-col>
            </ion-row>
            <ion-card>
              <ion-col>
              <ion-button fill="outline" expand="block" class="ion-text-center" (click)="revoirIntro()" detail>
                <ion-label>
                  Revoir la présentation.
                </ion-label>
              </ion-button>
              <ion-button color="warning" fill="outline" expand="block" class="ion-text-center" (click)="disclaimer()" detail>
                <ion-label>
                  Avertissement.
                </ion-label>
              </ion-button>
            </ion-col>
              <ion-row>
                <ion-col class="ion-align-self-start">
                  <ion-text>Version de L'application {{versionLocal}}</ion-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button fill="outline" color="success" expand="block" (click)="updateIos()" >Forcer la mise à jour</ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
            </ion-grid>

    </form>
  </ion-content>
