<ion-header color="primary">

</ion-header>

<ion-content class="ion-align-items-stretch ">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button Expand="block"  (click)="launchAttestation(1)">n°1 Travail<ion-icon name="construct-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(2)">n°2 Achats,Culture & Culte <ion-icon name="cart-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(3)">n°3 Consultation médicale<ion-icon name="medkit-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(4)">n°4 Motif familiale<ion-icon name="people-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(5)">n°5 Déplacements de personnes</ion-button>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(6)">n°6 Plein air & Annimaux 3h Max<ion-icon name="walk-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(7)">n°7 Convocations judiciaires<ion-icon name="school-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(8)">n°8 Missions d'intérret Générales<ion-icon name="shield-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button Expand="block" (click)="launchAttestation(9)">n°9 Activités périscolaires<ion-icon name="shield-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-no-border" >
    <ion-button slot="secondary" fill="clear" color="danger"  (click)="editSettings()" alt="Modifierr"> Modifier les réglages
      <ion-icon  class="ion-text-start" name="skull-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>