TUTU
<ion-header translucent>
    <ion-toolbar color="danger">
      <ion-title>Slides</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen class="ion-padding" scroll-y="false" color="success">
    <ion-slides>

      <ion-slide>
        <h2>Bienvenue sur <b>Attestation Covid-19</b></h2>
        <img src="assets/images/intro/img-intro2.png"/>
        <p>JavaTpoint offers Corporate Training, Summer Training, Online Training and Winter Training on Java, Android, Python, Oracle, PHP, and many more technologies.</p>
      </ion-slide>

      <ion-slide>
        <h2>What is Ionic?</h2>
        <img src="assets/images/intro/img-intro1.png"/>
        <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
      </ion-slide>

      <ion-slide>
        <h2>What is Ionic?</h2>
        <img src="assets/images/intro/img-intro2.png"/>
        <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
      </ion-slide>


      <ion-slide>
        <img src="assets/#"/>
        <h2>Ready to Play?</h2>
        <ion-button fill="clear" (click)="start()"  >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>