
    .note {
        font-size: small;
    }

    .inline{
        display: inline-flex;

        p{
            margin-right: 100px;
        }
    }

    .qrcodebottum {
        margin: 0px 50px 30px 0px;
    }

    .espace{
        height: 700px;

    }