<ion-content center text-center>
  <ion-grid>
        <ion-row center>
              <ion-col>
                    <img src="assets/images/logoRf.png"/>
              </ion-col>
        </ion-row>
  </ion-grid>
<ion-tabs >
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="welcome">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="reglages">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Réglages</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>