<title>attestation-couvre-feu-covid-19</title>
<section id="wrapper">
    <div id="colorTitle">
        <h1 id="blue">media.</h1>
        <h1>inférieur.</h1>
        <h1 id="red">gauv.fr</h1>
    </div>
    <h2>Visible uniquement sur mobile</h2>
    <p>Merci de revenir avec un mobile</p>
    <p>l'utilisation de ce service n'est pas valable sur ordinateur.</p>
</section>
<section>
    <img src="./assets/images/wait.jpg" alt="Resistance">
</section>
<section>
    <a href="mailto:daniel@oisg.org">Contact</a>
</section>
<div>
    <ul>
        <li>
            <h2>Gratuit</h2>
        </li>
        <li>
            <h2>Absurde</h2>
        </li>
        <li>
            <h2>Ubuesque</h2>
        </li>
        <li>
            <h2>Virale</h2>
        </li>
    </ul>
</div>