h1,h2,p{
    color: aliceblue;
    text-align: center;
}

#colorTitle{
    // font-size: 1em;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // margin-top: 44px;

    #blue{
        color: blue;
    }
    #red{
        color: red;
    }
}
ion-content{
    margin-top: 15px;
}
ion-card{
    margin: 15px auto 15px auto ;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        margin: 20px;
    }
    ion-label{
        text-overflow:ellipsis ;
    }
    section{
        text-align: center;
        p{
            margin: auto;
            font-size: 1em;
        }


    }
}

ion-footer ion-toolbar ul{
    color: rgb(200, 217, 232);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li{
        list-style:none;
    }
    li p::after {
        margin: 10px;
        content: ' ';
    }
}