<title>attestation-couvre-feu-covid-19</title>
<ion-header>
    <ion-toolbar>
        <ion-title>
            <section id="wrapper">
                <div id="colorTitle">
                    <h1 id="blue">media.</h1>
                    <h1>inférieur.</h1>
                    <h1 id="red">gauv.fr</h1>
                </div>
            </section>
        </ion-title>
    </ion-toolbar>

    <h2>Visible uniquement sur mobile</h2>
    <p>Merci de revenir avec un mobile</p>
    <p>l'utilisation de ce service n'est pas valable sur ordinateur.</p>
</ion-header>
<section>
    <ion-card>
        <img src="./assets/images/wait.jpg" alt="Resistance">
        <p>

        </p>
    </ion-card>

</section>

<section>
    <h1>Covattest</h1>
    <p>Cette application vous permet de présenté une attestation de déplacement</p>
    <p>à n'importe quelle moment à toutes personnes n'aillant pas compris</p>
    <p> que vous êtes dehors.</p><br>
    <p>Cette attestation permet aux forces de l'ordre</p>
    <p>de savoir que le virus est au courant que vous ne sortez pas pour rien!</p>
</section>
<section>
    <p>Vous pouvez installer cette simple page web comme</p>
    <p>une application en suivant les étapes du petit tutoriel de démarrage.</p>
</section>
<section>
    <h1>Respect de la vie privée</h1>
    <p>Contrairement à d'autres applications plus officiel!</p>
    <p>Covattest ne conserve aucune données personnelles sur ces serveurs car il n'y a pas de serveur!</p>
    <p>Toutes les informations sont cryptées avant d'être enregistrées sont sur votre téléphone !</p>
    <p>Si vous désinstaller l'application tout est suprimé.</p>
</section>
<ion-footer>
    <ion-toolbar>
        <ul>
            <li>
                <p>Gratuit</p>
            </li>
            <li>
                <p>Amusant</p>
            </li>
            <li>
                <p>Unique</p>
            </li>
            <li>
                <p>Virale</p>
            </li>
            <li>
                <p><a href="mailto:daniel@oisg.org">Contact</a></p>
            </li>
        </ul>
    </ion-toolbar>
</ion-footer>
<div>
</div>