h1,h2{
    color: aliceblue;
    font-size: 4em;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li h2::after {
        margin: 10px;
        content: ' ';

    }
}