h1,h2,h3,h4,h5{
    color: aliceblue;
}
h1{
    font-size: 4em;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;

    li h2::after {
        margin: 10px;
        content: ' ';

    }
}