<title>attestation-couvre-feu-covid-19</title>
<div class="ion-page">
<ion-buttons slot="start" *ngIf="(button)"  >
    <ion-button (click)="closeModal()"><p>Fermer</p></ion-button>
</ion-buttons>
<ion-content >
<ion-header>
    <ion-toolbar>
        <ion-title>
                <div id="colorTitle">
                    <p id="blue">media.</p>
                    <p>inférieur.</p>
                    <p id="red">gauv.fr</p>
                </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

    <ion-card>
            <p>Merci de revenir avec un mobile</p>
    </ion-card>

    <ion-card>
        <section>
            <img src="./assets/images/wait.jpg" alt="Resistance">
        </section>
    </ion-card>
    <ion-card>
                <section>
                    <h1>Covattest</h1>
                    <p>Cette application vous permet de présenter une attestation de déplacement</p>
                    <p>à n'importe quel moment à toutes personnes n'aillant pas compris</p>
                    <p>que vous êtes dehors pour vivre.</p><br>
                    <p>Cette attestation permet aux forces de l'ordre</p>
                    <p>de savoir que le virus est au courant que vous ne sortez pas pour rien!</p>
                </section>

                <section>
                    <p>Vous pouvez installer cette simple page web comme</p>
                    <p>une application en suivant les étapes du petit tutoriel de démarrage.</p>
                </section>
                <section>
                    <h1>Attention !</h1>
                    <p>Cette attestation est à utiliser à vos risques et périls</p>
                    <p>Nous ne serions être tenu responsable d'une verbalisation</p>
                    <p>ou tout autre dommage quel qu’il soit de vous ou tout matériel en votre possession.</p>
                </section>
                <section>
                    <h1>Respect de la vie privée</h1>
                    <p>Contrairement à d'autres applications plus officielles!</p>
                    <p>Covattest ne conserve aucune donnée personnelle sur ces serveurs car il n'y a pas de serveur!</p>
                    <p>Toutes les informations sont cryptées avant d'être enregistrées sont sur votre téléphone !</p>
                    <p>Si vous désinstaller l'application tout est supprimé.</p>
                </section>
    </ion-card>
</ion-content>

<ion-footer>
        <ion-toolbar>
            <ul>
                <li>
                    <p>Gratuit</p>
                </li>
                <li>
                    <p>Amusant</p>
                </li>
                <li>
                    <p>Unique</p>
                </li>
                <li>
                    <p>Virale</p>
                </li>
                <li>
                    <p><a href="mailto:daniel@oisg.org">Contact</a></p>
                </li>
            </ul>
        </ion-toolbar>
    </ion-footer>
    <div>
    </div>
</div>